{% extends "base_generic.html" %}

{% block content %}
        <p>СНТ {{ snt_name }} (взносы за электроэнергию).</p>
            {% if plot_number %}
            <p>Данные участка номер {{ plot_number }}</p>
            <a href="{% url 'new-payment' plot_number%}"> Внести новые показания </a>
              {% if payments_list %}
  	          <table>
  		        <tr>
  			      <th> Дата показаний </th>
  			      <th> Статус </th>
              <th> Показания квт/ч (день) </th>
              <th> Показания квт/ч (ночь) </th>
              <th> Потрачено квт/ч (день) </th>
              <th> Потрачено квт/ч (ночь) </th>
              <th> Сумма день </th>
              <th> Сумма ночь </th>
  			      <th> Итого </th>
  		        </tr>
	  	        {% for payment in payments_list %}
	  	        <tr>
	  	        <td><a href="{% url 'payment-details' plot_number payment.id %}"> {{ payment.record_date }} </a></td>
  			      <td>{{ payment.get_record_status_display }}</td>
              <td>{{ payment.t1_new|default_if_none:"-" }}</td>
              <td>{{ payment.t2_new|default_if_none:"-" }}</td>
  			      <td>{{ payment.t1_cons|default_if_none:"-"}}</td>
  			      <td>{{ payment.t2_cons|default_if_none:"-"}}</td>
  			      <td>{{ payment.t1_amount|default_if_none:"-"}}</td>
  			      <td>{{ payment.t2_amount|default_if_none:"-"}}</td>
  			      <td>{{ payment.sum_tot|default_if_none:"-"}}</td>
  		        </tr>
	  	        {% endfor %}
	            </table>
              {% elif no_records %}
              <p>{{ no_records }}</p>
              {% endif %}
            {% elif user_land_plots %}
            <p>Выберите участок.</p>
            <table>
              {% for land_plot in user_land_plots %}
              <tr>
              <td>
              <a href="{% url 'plot-electricity-payments' land_plot.plot_number %}">Участок № {{ land_plot.plot_number }}</a>
              </td>
              </tr>
              {% endfor %}
            {% endif %}
{% endblock %}
