{% extends "base_generic.html" %}

{% block content %}
    <p>СНТ {{ snt_name }} </p>
        <p>Внесение новых показаний счетчика для участка номер {{ plot_number }}.
        <br>Тип счетчика {{ el_counter_type_disp|lower }}.</br> 
        </p>
        {% if error_message_list %}
        <table>
            {% for error_message in error_message_list %}
            <tr><td>{{ error_message }}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="" method="post">
    	{% csrf_token %}
    	<table>
    	{{ form.as_table }}
    	</table>
    	<input type="submit" value="Сохранить">
  		</form>
{% endblock %}
