{% extends "base_generic.html" %}
{% load qr_code %}
{% block content %}
    <p>СНТ {{ snt_name }} </p>
    {% if el_payment_obj %}
         <ul style="list-style-type:none;">
            <li> Запись № {{ el_payment_obj.id }} </li>
            <li> СНТ {{ el_payment_obj.land_plot.snt }} </li>
            <li> р\с: {{ el_payment_obj.land_plot.snt.personal_acc }} </li>
            <li> {{ el_payment_obj.land_plot.snt.bank_name }} </li>
            <li> БИК: {{ el_payment_obj.land_plot.snt.bic }} </li>
            <li> корр. счет: {{ el_payment_obj.land_plot.snt.corresp_acc }} </li>
            <li> ИНН: {{ el_payment_obj.land_plot.snt.inn }} </li>
            <li> Плательщик: {{ last_name }} {{ first_name }} {{ middle_name }} </li>
            <li> Адрес плательщика: {{ payer_address }} </li>
            <li> Детали платежа: {{ purpose }} </li>
            <li> Сумма: {{ el_payment_obj.sum_tot }} </li>
            <li> Статус: {{ el_payment_obj.get_record_status_display }} </li>
            {% if el_payment_obj.pay_date == None %}
                <li> Оплата по QR коду.</li>
                {% qr_from_text qr_text size="T" image_format="png" %}
                <form action="" method="post">
    	        {% csrf_token %}
    	        <table>
    	        {{ form.as_table }}
    	        </table>
    	        <input type="submit" value="Оплачено">
  		        </form>
            {% else %}
                <li> Дата оплаты: {{ el_payment_obj.pay_date }}</li>
                {% qr_from_text qr_text size="T" image_format="png" %}
            {% endif %}
        </ul>
    {% else %}
        <p> Запись отсутствует или недоступна. </p>
    {% endif %}

{% endblock %}
